    <div class="col-sm-12">
        <div class="panel-default">
            <div class="top-message">
               The <a href="http://hdmi2usb.tv/numato-opsis">Numato Opsis</a>, the first open hardware for the <a href="http://hdmi2usb.tv">HDMI2USB firmware</a>,<br>
               <a href="https://www.crowdsupply.com/numato-lab/opsis">
                 can now be ordered on 
                 <img src="https://www.crowdsupply.com/_teal/images/crowd-supply-logo-light@2x.png" style="padding: 2px; height: 2em; vertical-align: middle;">
               </a>
            </div>
        </div>
    </div>
