<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        <li class="nav-header">{{ label }}</li>
        {% for page in site.categories[attr] reversed %}
            <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    {% endfor %}
    <li class="nav-header">Repositories</li>
    <li><a href="https://github.com/timvideos/HDMI2USB-numato-opsis-sample-code">Sample Code</a></li>
    <li><a href="https://github.com/timvideos/HDMI2USB-numato-opsis-hardware">Hardware Design</a></li>
    <li><a href="https://github.com/timvideos/HDMI2USB-numato-opsis-docs">Docs</a></li>
    <li><a href="https://github.com/timvideos/HDMI2USB-numato-opsis-hardware/raw/master/doc/Numato-Opsis-v3-prod-3-g83e7bd5.pdf">Schematic</a></li>
    <li class="nav-header">Links</li>
    <li><a href="http://bit.ly/get-opsis">Purchase</a></li>
    <li><a href="http://hdmi2usb.tv">HDMI2USB Project</a></li>
</ul>
