<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] reversed %}
            {% if forloop.first %}
                <li class="nav-header">{{ label }}</li>
            {% endif %}
            <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    {% endfor %}
    <li class="divider"><hr></li>
    <li class="nav-header">Links</li>
    <li><a href="https://github.com/timvideos/HDMI2USB-numato-opsis-sample-code">Sample Code</a></li>
    <li><a href="https://github.com/timvideos/HDMI2USB-numato-opsis-hardware">Board Design</a></li>
    <li><a href="http://hdmi2usb.tv">HDMI2USB Project</a></li>
</ul>
